// SPDX-License-Identifier: (GPL-2.0+ OR X11)
/*
 * Copyright 2018 Icenowy Zheng <icenowy@aosc.io>
 */

/dts-v1/;
#include "suniv-f1c100s.dtsi"

#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Lichee Pi Nano (benchoff edition)";
	compatible = "licheepi,licheepi-nano", "allwinner,suniv-f1c100s";

	aliases {
		serial0 = &uart0;
		spi0 = &spi0;
		spi1 = &spi1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reg_vcc3v3: vcc3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	backlight: backlight {
	compatible = "pwm-backlight";
	pwms = <&pwm 1 50000 0>;
	brightness-levels = <0 4 8 16 32 64 128 255>;
	default-brightness-level = <8>;
	};
};

&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	broken-cd;
	status = "okay";
};

&otg_sram {
	status = "okay";
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins_a>;
	status = "okay";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "winbond,w25q128", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <40000000>;
	};
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pins_a &spi1_pins_a_gpio>;
	pinctrl-1 = <&spi1_pins_a &spi1_pins_a_gpio>;
	pinctrl-2 = <&spi1_pins_a &spi1_pins_a_gpio>;
	status = "okay";

	num-cs = <1>;
	cs-gpios = <&pio 4 7 0>; //PE7 as GPIO CS

	display: display@0{
		compatible = "adafruit,yx240qv29", "ilitek,ili9341";
		reg = <0>; // Chip Select 0

		spi-max-frequency = <32000000>; // 32MHz
		reset-gpios = <&pio 4 4 GPIO_ACTIVE_HIGH>; //PE4
		dc-gpios = <&pio 4 3 GPIO_ACTIVE_HIGH>; //PE3
		//led-gpios = <&pio 4 6 GPIO_ACTIVE_HIGH>; //PE6

		rotation = <0>;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe_pins>;
	status = "okay";
};

&usb_otg {
	dr_mode = "otg";
	status = "okay";
};

&usbphy {
	usb0_id_det-gpio = <&pio 4 2 GPIO_ACTIVE_HIGH>; /* PE2 */
	status = "okay";
};
